.r-fourth{
    display: flex;
    width: 51%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px;
    /* border: 1px solid; */
}
.r-fourth h2{
    width: 100%;
    padding: 15px 0px;
}
.r-fourth-left,.r-fourth-right{
    width: 49%;
    text-align: center;
}
.r-fourth li{
 list-style: none;   
 background-color: white;
 color: black;
 padding: 15px 0px;
 border-bottom: 1px solid #ddd;
}
#li-first,#li-second{
    padding: 30px 0px;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    background-color: black;
}
.r-fourth #btn5,#btn6{
    padding: 15px 16px;
    border: none;
    background-color:#aaa;
}
.r-fourth #btn55,#btn66{
    background-color: #eee;
}
.r-fifth{
    background-color: rgb(227, 222, 222);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    margin: auto;
}
.r-fifth-content{
    width: 51%;
    margin: auto;
}
.r-fifth-content p{
    padding-bottom: 2px;
}
.r-fifth-content input{
    width: 100%;
    /* border: none; */
    padding: 12px 0px;
}
#btn11{
    width: 100%;
    margin: 15px 0px;
    padding: 14px 16px;
    border: none;
    background-color: black;
    color:white;
}
#btn11:hover{
    background-color: #aaa;
    color: white;
}